body {
    background-color: goldenrod;
    color: #fdffff;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

button {
    padding: 5px 20px;
    background-color: #337ab7;
    color: #fdffff;
    border-style: none;
    font-size: 30px;
}

input {
    height: 50px;
}